/* Always Route to /static/css/styles.css  */

:root {
    --primary-color: #dadada;
    --secondary-color: #FFDF00;
    --bg-color: #2f2f2f;
}




body {
    background: var(--bg-color);
    color: var(--primary-color);
    /* display: flex; */
}


/* main text (for now) */
.darkerText {
    color: var(--secondary-color);
    font-family: 'Jersey 15', sans-serif;
    text-align: center;
}